@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: rgb(218,218,218);
    background: linear-gradient(90deg, rgba(218,218,218,1) 0%, rgba(255,255,255,1) 51%, rgba(226,226,226,1) 100%);
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
}